aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4==4.12.3
bing_image_downloader==1.1.2
bleach
bs4
cachetools
cloudscraper
countryinfo==0.1.2
currencyconverter==0.17.20
dateparser
emoji
emoji-country-flag
feedparser
ffmpeg-python
future
geopy
gpytranslate==1.5.1
hachoir
html2text
jikanpy
lxml
markdown2
motor
opencv-python-headless
pillow==9.5.0
pretty_errors
psutil
psycopg2-binary
pydictionary==2.0.1
pykeyboard
pynewtonmath
pyrate-limiter
pyrogram==2.0.106
python-telegram-bot
regex
requests==2.31.0
secureme
search_engine_parser==0.6.8
speedtest-cli==2.1.3
sqlalchemy==1.4.46
telegraph==2.2.0
telethon
tgcrypto
wikipedia==1.4.0

# update modules extra

gtts
heroku3
alphabet_detector
wget
nekos.py
yt_dlp
youtube_search
youtube_search_python
pyshorteners
faker
pyfiglet
MukeshAPI
unidecode
openai==1.23.2
numpy==1.26.4
pymongo==4.6.3
async_pymongo

